# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
*.pem

# Debug
bun.lockb
*.log*

# Local env files
.env
.env*.local

# Vercel
.vercel

# Vite
.vite

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~
