* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-body);
  line-height: 1.5;
  color: var(--gray-12);
  background-color: var(--color-background);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--accent-9);
}
