.root {
  font-family: var(--default-font-family);
  cursor: pointer;
  transition:
    background-color 120ms ease,
    box-shadow 120ms ease,
    opacity 120ms ease;

  &:disabled {
    cursor: not-allowed;
  }
}
