.root {
  width: 100%;
  background: var(--color-background);
  padding-inline: var(--space-5);
  padding-block: var(--space-3);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: 28px;
  width: auto;
  display: block;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
