.layout {
  display: flex;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.topbar {
  background-color: var(--blue-12);
  border-bottom-color: var(--blue-12);
}
