.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--gray-12);
  border-radius: var(--radius-3);
  font-family: var(--default-font-family);
  padding: var(--space-5);
}

.title {
  color: var(--accent-9);
  display: block;
  margin-bottom: var(--space-1);
}

.value {
  color: var(--blue-9);
  display: block;
}
